<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Edit</title>
	<link rel="stylesheet" type="text/css" href="../../css/style.css">
</head>
<body>
	<div class="body-center"></div>
	<h1>Edit Your Message</h1>
	</div>
	<form action="/messenger/<%=message._id%>?_method=PUT" method="POST">
		<label for="message">Description:
			<input type="text" name="message" value="<%=message.message%>">
		</label><br>
		<button type="submit">Update Messages</button>
	</form>
	</div>
</body>
</html> 
